/* CSS Zen Garden with variable font */

@font-face {
  font-family: "Inter var";
  src: url("fonts/Inter.var.woff2") format("woff2-variations");
  font-weight: 400 800;
  /* Hide text for up to 100ms, then only use web font if available */
  font-display: optional;
}

:root {
  /* Color */
  --off-black: #111;
  /* Type scale */
  --ratio: 1.25;
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
}

body {
  font-family: "Inter var", sans-serif;
  line-height: 1.5;
  color: var(--off-black);
  margin: var(--s0);
}

h3,
h2,
h1 {
  line-height: var(--ratio);
}

h3 {
  font-size: var(--s1);
  font-weight: 600;
}

h2 {
  font-size: var(--s2);
  font-weight: 700;
}

h1 {
  font-size: var(--s3);
  font-weight: 800;
}

.page-wrapper {
  max-inline-size: 55ch;
  margin-inline: auto;
}
